<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
	<nav class="navbar">
		<div class="navbar-left">
			<ul class="navbar-link-list">
				<li class="navbar-link"><a href="/">Pagrindinis</a></li>
			</ul>
		</div>
		<div class="navbar-right">
			<ul class=navbar-link-list>
				<li class="navbar-link" sec:authorize="isAuthenticated()">
					<span class="login-name" th:text ="'Sveiki, ' + ${#authentication.getPrincipal().getName()}"></span>
				</li>
				<li class="navbar-link" sec:authorize="!isAuthenticated()"><a href="/register">Registruotis</a></li>
				<li class="navbar-link" sec:authorize="!isAuthenticated()"><a href="/login">Prisijungti</a></li>
				<li class="navbar-link" sec:authorize="isAuthenticated()"><a href="/logout">Atsijungti</a></li>
			</ul>
		</div>

	</nav>
</html>